
.container {
   /* width: 1370px !important;*/
}
.modalTextSmall{
    text-align: left;
    font-size: 11px;
}
#menu li {
position: relative;
z-index: 2;
display: block;
float: left;
width: 15%;
height: 135px;
line-height: 220px;
margin-right: 1.42857%;
white-space: nowrap;
background-position: 50%;
}
.rocket {
background: url('http://one-div.com/codepen/menu/rocket-large.png')no-repeat;
margin-left: 1.42857%;
}
#menu a{
  align:center;
  
}

#menu ul{
  position:relative;
}
.headerinstrumento{
    
    font-stretch: border;
}
.answerInput{
    width: 100%!important;
}
.itemAnswer{
    
        margin-top: 19px!important;
    
}

.rocket:before {
content: "";
width: 9.5238%;
height: 100%;
position: absolute;
top: 0;
left: -9.5238%;
background: url('http://one-div.com/codepen/menu/menu-bg.png');
border-radius: 5px 0px 0px 5px;
}
.focusreactivo{
    background-color:rgb(90, 161, 187);;
}

.spinner {
    width: 63px;
    height: 63px;
    border-radius: 32px;
    box-sizing: border-box;
    border: 2px groove #d20202;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -16px 0px 0px -16px;
    border-top-color: rgb(90, 161, 187);
    border-left-color: rgba(239, 235, 235, 0.9);
    border-bottom-color: rgba(255,255,255,0.8);
    border-right-color: rgba(255,255,255,0.7);
    animation: rotate 1000ms infinite linear;
    transform: translateZ(0px);
}
.errorMsg{
    color: #f31937;
    font-size: 12px;
}
.emptyContainer{
        /* padding-left: 37px!important; */
        text-align: center;
            background-color: rgba(74, 70, 71, 0.16)!important;
}
.spinnerList{
    width: 40px;
    height: 40px;
    border-radius: 32px;
    box-sizing: border-box;
    border: 2px groove #d20202;
    position: relative;
    left: 50%;
    top: 80%;
    margin: -16px 0px 0px -16px;
    border-top-color: rgb(90, 161, 187);
    border-left-color: rgba(239, 235, 235, 0.9);
    border-bottom-color: rgba(255,255,255,0.8);
    border-right-color: rgba(255,255,255,0.7);
    animation: rotate 1000ms infinite linear;
    transform: translateZ(0px);

}
.spinnerFixed {
    width: 40px;
    height: 40px;
    border-radius: 32px;
    box-sizing: border-box;
    border: 2px groove #d20202;
    position: relative;
    left: 50%;
    top: 50%;
    margin: -16px 0px 0px -16px;
    border-top-color: rgb(90, 161, 187);
    border-left-color: rgba(239, 235, 235, 0.9);
    border-bottom-color: rgba(255,255,255,0.8);
    border-right-color: rgba(255,255,255,0.7);
    animation: rotate 1000ms infinite linear;
    transform: translateZ(0px);
}
.sxx{
    width: 63px;
    height: 63px;
    border-radius: 32px;
    box-sizing: border-box;
    border: 2px groove #d20202;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -16px 0px 0px -16px;
    border-top-color: rgb(90, 161, 187);
    border-left-color: rgba(239, 235, 235, 0.9);
    border-bottom-color: rgba(255,255,255,0.8);
    border-right-color: rgba(255,255,255,0.7);
    background: url('http://one-div.com/codepen/menu/rocket-large.png')no-repeat;
   
}
.m-question {
    width:90% !important;
   
}
/*
.modal-dialog {
    width: 90%!important;
    height: 90%!important;
    margin: 0!important;
    padding: 0!important;
  }
  
  .modal-content {
    height: auto!important;
    min-height: 90%!important;
    border-radius: 0!important;
  }
  */


@keyframes rotate {  
  0% {transform:rotate(0deg);}
  100% {transform:rotate(360deg);} 
}