
.container {
    width: 1470px !important;
}
    
.spinner {
    width: 63px;
    height: 63px;
    border-radius: 32px;
    box-sizing: border-box;
    border: 2px groove #d20202;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -16px 0px 0px -16px;
    border-top-color: rgb(90, 161, 187);
    border-left-color: rgba(239, 235, 235, 0.9);
    border-bottom-color: rgba(255,255,255,0.8);
    border-right-color: rgba(255,255,255,0.7);
    animation: rotate 1000ms infinite linear;
    transform: translateZ(0px);
}
.sxx{
    width: 63px;
    height: 63px;
    border-radius: 32px;
    box-sizing: border-box;
    border: 2px groove #d20202;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -16px 0px 0px -16px;
    border-top-color: rgb(90, 161, 187);
    border-left-color: rgba(239, 235, 235, 0.9);
    border-bottom-color: rgba(255,255,255,0.8);
    border-right-color: rgba(255,255,255,0.7);
    background: url('http://one-div.com/codepen/menu/rocket-large.png')no-repeat;
   
}
.m-question {
    width:90% !important;
   
}


@keyframes rotate {  
  0% {transform:rotate(0deg);}
  100% {transform:rotate(360deg);} 
}